* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    list-style: none;
}

:root {
    --first-color: #ddd;
    --second-color: #ebebeb;
}

.flex { 
    display: flex;
    align-items: center;
}

